.banner-box {
  background-color:rgba(255, 255, 255, 0.0);
  width: 100%;
  height: 350px;
  position: relative;

  .banner-color-box {
    background-color: rgba(255, 248, 242, 0.7);
    height: 80%;
    width: 100%;
    position: absolute;
    top: 5%;
    right: 10%;
    bottom: 50%;
  }

  .banner-image-box {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 0;

    .banner-bg-image {
      background: url(https://res.cloudinary.com/dtewjoisz/image/upload/v1598495979/bijin%20carte/flowers_banner_small_gradient2_hum72r.jpg)
      center no-repeat;
      background-size: cover;
      position: absolute;
      top: 15%;
      bottom: 5%;
      right: 0;
      left: 5%;
      z-index: -1;
    }

    .banner-title {
      margin: 0 auto;
      align-self: center;
      padding-top: 52px;

      .banner-bold-title {
        text-transform: uppercase;
        font-weight: 800;
        font-family: 'Limelight', cursive;
        line-height: 50%;
        margin: 0 auto;
      }

      .banner-cursive-title {
        text-transform: lowercase;
        font-family: "rollerscript-rough", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin: 0 auto;
      }

      .banner-subtitle {
        text-align: end;
        margin-left: 10%;
        margin-top: 5%;
        line-height: 2%;
        opacity: 0.8;
        margin-bottom: 0;
      }

      .banner-button {
        margin: 0 auto;
        height: 50px;
        display: flex;
        justify-content: center;

        a {
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: 688px) {
  .banner-box {
    height: 600px;

    .banner-image-box {
      .banner-bg-image {
        background: url(https://res.cloudinary.com/dtewjoisz/image/upload/v1598495387/bijin%20carte/flowers_banner_gradient_qd70gp.jpg)
        center center no-repeat;
        background-size: cover;
        position: absolute;
        top: 15%;
        bottom: 5%;
        right: 0;
        left: 5%;
        z-index: -1;
      }
    }

    .banner-title {
      width: 80%;
      margin-top: 20%;
      padding-top: 120px;
      
      .banner-bold-title {
        font-size: 4.5em;
        text-align: start;
        padding-left: 120px;
      }

      .banner-cursive-title {
        text-align: end;
        line-height: 50%;
      }

      .banner-subtitle {
        text-align: end;
        margin-bottom: 24px;
      }

      .banner-button {
        padding-top: 5%;
      }
    }
  }
}

@media (min-width: 922px) {
  .banner-box {
    margin-left: 3%;
    .banner-title {
    
      .banner-bold-title {
        font-size: 6em;
        margin: auto 0;
      }

      .banner-cursive-title {
        font-size: 4.5em;
        padding-right: 80px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .banner-box {
    margin-left: 10%;

    .banner-image-box {
      .banner-bg-image {
        left: 0;
        right: 8%;
      }
    }
    
    .banner-title {

      .banner-bold-title {
        font-size: 6em;
        padding-left: 20%;
      }

      .banner-cursive-title {
        padding-right: 20%;
        font-size: 5em;
      }

      .banner-subtitle {
        padding-right: 20%;
      }
    }

    .banner-button {
      padding-top: 0;
    }
  }
}
