.form-title {
  text-align: center;
  margin: 24px;
  font-family: "rollerscript-rough", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.form-subtitle {
  text-align: center;
  font-weight: 300;
  margin-bottom: 32px;
  margin-top: 5%;
  padding: 2%;
  span {
    font-weight: bold;
  }
}

.form-wrapper {
  width: 100%;
  margin-top: 10%;
  padding: 16px;
  background-color: rgba(255, 248, 242, 0.7);
  display: flex;
  flex-direction: column;

  .form-field {
    width: 100%;
    
    .form-label {
      opacity: 0.7;
      text-align: left;
    }

    .form-input {
      width: 350px;
      height: 32px;
      padding: 8px;
      border: none;
    }

    .form-radio {
      padding: 4px;
      opacity: 0.7;
    }
  }


  .button-styled-form {
    height: 40px;
    width: 100px;
    align-self: center;
    margin: 16px;
    margin-top: 24px;
    background-color: rgb(239, 209, 201);
    display: flex;
    justify-content: center;
    color: white;
    border: none;
    padding: 8px;
  }
}

@media (min-width: 600px) {
  .form-wrapper {
    width: 100%;
    .form-field {
      text-align: left;
      width: 100%;
      
      .form-input {
        width: 100%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
      }

      .form-paragraph {
        text-align: left;
      }
    }
  }
}
