.gallery-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .gallery-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    z-index: 1000;
    
    .gallery-image {
      width: 40%;
      padding: 16px;
      position: relative;
      z-index: 2;
    }
  
    .gallery-color-box {
      width: 100%;
      height: 50%;
      background-color: rgba(255, 248, 242, 0.7);;
      position: absolute;
      top: 30%;
      z-index: 1;
    }
  }
  
  .gallery-title {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 52px;
    text-align: center;
  }
  
  .gallery-subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
  }
}
