.page-container {
  display: flex;
  flex-wrap: wrap;
  
  .page-img-wrapper {
    width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }

  .page-content {
    width: 100%;
    padding: 5%;
    background-color: rgba(233, 225, 218, 0.7);
    margin: 0 auto;
    .page-title {
      text-align: center;
      font-family: "rollerscript-rough", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 5%;
    }

    .page-text {
      line-height: 24px;
  
      h4 {
        font-size: 2rem;
        margin-bottom: 5%;
      }

      p {
        font-size: 1.7rem;
        margin-bottom: 5%;
      }

      .collapsible {
        display: block;
      
        input {
          position: absolute;
          left: -9999px;
          &:focus ~ .collapser{
            border-color: grey;
          }
        }
      
        .collapser {
          cursor: pointer;
          border: 1px transparent dotted;
          font-size: 1.7rem;
          opacity: 0.7;
        }
      
        .arrow {
          float: right;
          display: inline-block;
          opacity: 0.7;
          transform: rotate(90deg);
        }
      
        .collapsed {
          font-size: 0;
          margin: 0;
          opacity: 0;
          padding: 0;
          transition:   
          opacity .25s,
          margin .5s 0.25s,
          font-size .5s 0.25s,
          padding .5s .25s;
        }

        input:checked ~ .arrow{
          transform: rotate(270deg);
        }
      
        input:checked ~ .collapsed {
          font-size: 16px;
          opacity: 1;
          height: auto;
          padding: 5px 0;
          transition:   
          margin .25s,
          padding .25s,
          font-size .25s,
          opacity .5s .25s;
        }

        .arrow {
          transition: transform .25s ease-out;
        }
      }
    }
  }
}

@media (min-width: 688px) {
  .page-container {
    .page-img-wrapper {
      width: 40%;
      margin: auto 0;
    }

    .page-content {
      margin-top: 5%;
      width: 60%;
      padding: 40px;
    }
  }
}

@media (min-width: 1200px) {
  .page-container {
    .page-img-wrapper {
      margin-top: 5%;
    }
  }
}
