.post-card-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  margin-top: 15%;
  
  .post-card-color-box {
    background-color: rgba(255, 248, 242, 0.7);
    padding: 24px;
    
    .post-card-right {
      margin: 0 auto;
      
      .post-card-title {
        margin-top: 10%;
        font-size: 3rem;
        text-align: end;
        text-align: center;
        font-family: "rollerscript-rough", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      .post-card-text {
        text-align: center;
        padding-left: 24px;
        padding-right: 24px;
        font-size: 1rem;
        h3 {
          font-size: 1.2rem;
        }
      }
      
      a {
        text-decoration: none;
        font-size: 14px;
        color: black;
        opacity: 0.5;
        margin-left: 40%;
      }
    }
  }

  .post-card-image {
    width: 60%;
    margin-left: 20%;
    margin-bottom: -10%;
    position: relative;
    z-index: 1000;
  }
}

@media (min-width: 600px) {
  .post-card-box {
    .post-card-color-box {
      .post-card-right {
        .post-card-title {
          font-size: 2rem;
        }
    
        .post-card-text {
          font-size: 0.6rem;
          h3 {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
