.post-card-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  margin-top: 15%;
  
  .post-card-color-box {
    background-color: rgba(255, 248, 242, 0.7);
    padding: 24px;
    
    .post-card-right {
      margin: 0 auto;
      
      .post-card-title {
        margin-top: 10%;
        // font-size: 4rem;
        text-align: end;
        text-align: center;
        font-family: "rollerscript-rough", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      .post-card-text {
        text-align: center;
        padding-left: 24px;
        padding-right: 24px;
      }
      
      a {
        text-decoration: none;
        font-size: 14px;
        color: black;
        opacity: 0.5;
        margin-left: 40%;
      }
    }
  }

  .post-card-image {
    width: 60%;
    margin-left: 20%;
    margin-bottom: -10%;
    position: relative;
    z-index: 1000;
  }
}

@media (min-width: 688px) {
  .post-card-box {
    flex-direction: row-reverse;
    justify-content: left;
    margin-top: 3%;
    .post-card-color-box {
      
      .post-card-right {
        .post-card-title {
          text-align: left;
        }

        .post-card-text {
          text-align: left;
        }

        a {
          text-align: right;
          margin-left: 70%;
        }
      }
    }

    .post-card-image {
      margin-left: -2%;
      height: 50%;
      width: 52%;
      margin-top: 10%;
    }
  }
}
