.product-details-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  .product-details-title {
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
    font-size: 2.5em;
  }

  .product-details-image {
    width: 100%;
  }

  .product-details-color-box {
    
    width: 95%;
    margin: 0 auto;
    padding: 4px;
    margin-bottom: 5%;
    
    .product-details-text {
      font-size: 1em;
      h4 {
        font-size: 1.5em;
        margin-bottom: 5%;
      }

      .pink {
        background-color: rgba(255, 248, 242, 0.7);
        margin-bottom: 2%;
        padding: 24px;
      }

      .brown {
        background-color: rgba(233, 225, 218, 0.7);
        margin-bottom: 2%;
        padding: 24px;
      }
    }
  }
}

@media (min-width: 600px) {
  .product-details-wrapper {
    .product-details-image {
      width: 60%;
      margin: 0 auto;
    }
  }
}
