.product-details-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  
  .product-details-title {
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
    font-size: 2.5em;
    z-index: 5;
  }

  .product-image-box {
    .product-details-image {
      position: relative;
      z-index: 1;
      height: 80%;
      width: 80%;
      left: 10%;
    }

    .product-image-color-box {
      background-color: rgba(255, 248, 242, 0.7);
      height: 200px;
      width: 80%;
      position: absolute;
      top: 70px;
      right: 10%;
      left: 5%;
    }
  }
  

  .product-details-color-box {
    width: 95%;
    margin: 0 auto;
    padding: 4px;
    margin-bottom: 5%;
    
    .product-details-text {
      font-size: 1em;
      display: flex;
      flex-direction: column;

      h4 {
        font-size: 1.5em;
        margin-bottom: 5%;
      }

      
      .has-text-align-center {
        text-align: center;
      }
      
      .has-text-align-left {
        text-align: left;
      }

      .light-pink {
        background-color: rgba(214,195,181,0.3);
        margin-bottom: 5%;
        margin-top: 5%;
        padding: 24px;
      }

      .light-brown {
        background-color: rgba(134,113,103,0.1);
        margin-bottom: 5%;
        margin-top: 5%;
        padding: 24px;
      }

      .pink {
        // background-color: rgba(255, 248, 242, 0.7);
        background-color: rgba(193,116,64,0.1);
        margin-bottom: 5%;
        margin-top: 5%;
        padding: 24px;
      }

      .brown {
        background-color: rgba(134,113,103,0.2);
        margin-bottom: 5%;
        margin-top: 5%;
        padding: 24px;
      }

      .text-button-link {
        align-self: center;
        display: inline-block;
        border: none;
        padding: 1rem 2rem;
        margin-bottom: 1em;
        text-decoration: none;
        font-size: 1em;
        color: white;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, 
                  transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 8px;
        width: 40%;
        margin: 5%;
        background-color: rgb(239, 209, 201);
        a {
          color:white;
          text-decoration: none;
        }
        
      }
    }
  }
}

@media (min-width: 600px) {
  .product-details-wrapper {
    .product-image-box {
      .product-details-image {
        left: 18%;
        width: 70%;
      }
  
      .product-image-color-box {
        height: 350px;
        width: 70%;
        top: 9%;
        right: 10%;
        left: 10%;
      }
    }
  }
}

@media (min-width: 1000px) {
  .product-details-wrapper {
    .product-image-box {
      .product-details-image {
        left: 25%;
        width: 60%;
      }
  
      .product-image-color-box {
        height: 400px;
        width: 70%;
        top: 140px;
        left: 10%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .product-details-wrapper {
    .product-image-box {
      .product-details-image {
        left: 40%;
        width: 50%;
      }
  
      .product-image-color-box {
        height: 350px;
        width: 50%;
        top: 150px;
        left: 25%;
      }
    }
  }
}