.result-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5%;

  .result-bg-marble {
    background: url(https://res.cloudinary.com/dtewjoisz/image/upload/v1597724915/bijin%20carte/henry-co-tqu0IOMaiU8-unsplash_n9jqpc.jpg)
    center no-repeat;
    background-size: cover;
    position: absolute;
    top: 18%;
    bottom: 5%;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
  }

  .result-top {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-bottom: 5%;
    margin-top: 10%;

    .result-main-title {
      font-family: "rollerscript-rough", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 5%;
      position: relative;
      top: -50px;
    }

    .result-image {
      width: 200px;
      margin: 0 auto;
      //margin-bottom: 5%;
      position: relative;
      top: -40px;
    }

    .result-text {

    }
  }

  .result-subtitle {
    font-family: "rollerscript-rough", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    bottom: -20px;
  }

  .focus-box {
    border: 2px solid  rgb(25, 17, 15);
    border-radius: 16px;
    margin-bottom: 5%;
    padding: 5%;

    .result-text {

    }
  }

  .result-main-content {
    background-color: rgba(255, 248, 242, 0.7);
    padding: 5%;
    margin-bottom: 5%;

    h3 {
      text-align: center;
      margin-bottom: 5%;
    }

    p {
      text-align: center;
      margin-bottom: 5%;
    }
  }

  .result-diagram-box {
    .result-diagram {
      margin-bottom: 5%;
    }
  }

  .quiz-icons-wrapper {
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
    
    .quiz-icons-title {
      font-size: 2rem;
    }
    
    .quiz-share-icon {
      font-size: 4rem;
      margin: 16px;
      color: rgb(239, 209, 201);
    }
  }
}