.banner-box {
  background-color: rgba(255, 255, 255, 0.0);
  width: 100%;
  height: 400px;
  position: relative;
  
  .banner-image-box {
    // background: url(https://res.cloudinary.com/dtewjoisz/image/upload/v1596002225/bijin%20carte/pexels-photo-2395249_g1vpqw.webp)
    // center no-repeat;
    // background-size: cover;
    // background-origin: border-box;
    box-sizing: border-box;
    background-color: rgba(235, 182, 182, 0.7);
    height: 85%;
    width: 65%;
    position: absolute;
    z-index: 2;
    left: 30%;//343.34px;
    top: 24%;//94px;
  }

  .banner-color-box {
    background-color: rgba(238, 231, 224, 0.5);
    width: 75%;
    height: 80%;
    position: absolute;
    left: 12%;//163px;
    top: 66px;
    z-index: 1;
  }

  .banner-title {
    position: absolute;
    top: 50%;
    left: 35%;
    z-index: 3;
    .banner-bold-title {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Nothing You Could Do', cursive;
      font-size: 60px;
    }

    .banner-cursive-title {
      text-transform: lowercase;
    }
  }
}